<%- include partials/head.ejs %>
<%- include partials/main_nav.ejs %>

  <!-- Main Content -->
  <main class="main-container">
    <div class="jumbotron ">
      <h1 class="display-4"><%= title %> page</h1>
    </div>
    <p>Here you can find a list of services I'm able to offer:</p>
    <ul>
      <li>Web development;</li>
      <li>Desktop applications.</li>
    </ul>
  </main>
  
<%- include partials/footer.ejs %>  
<%- include partials/script_declarations.ejs %>
  




